table, th, td {
    border: 1px solid black;
}

th, td {
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.delete-button {
    width: 50px;
    margin: 10px;
}

.add-book{
    width: 200px;
    margin: 10px;
    text-align: center;
}

 /* Popup container */
 .popup {
    position: absolute;
    display: flex;
    z-index: 1;
    visibility: hidden;
    top: 50%;
    left: 50%;
    width: 30vw;
    height: 30vh;
    margin-left: -15vw;
    margin-top: -15vh;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .show {
    visibility: visible;
  }