table, th, td {
    border: 1px solid black;
}

table {
    margin: auto;
}

th, td {
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.delete-button {
    width: 50px;
    margin: 10px;
}

.add-book{
    width: 200px;
    margin: 5px;
    text-align: center;
}

#add-cell{
    width: 200px;
    margin: 5px;
    text-align: center;
}

.popup button{
    width: 200px;
    text-align: center;
}

li {
    list-style-type: none;
    align-self: center;
    justify-content: right;
    display: flex;
}

 /* Popup container */
 .popup {
    position: absolute;
    display: flex;
    z-index: 1;
    visibility: hidden;
    top: 50%;
    left: 50%;
    width: 30vw;
    margin-left: -15vw;
    margin-top: -15vh;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .show {
    visibility: visible;
  }